In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
df = pd.read_json("../Scrapy/rever.com_spider/data/canho.json")

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6893 entries, 0 to 6892
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   url             6893 non-null   object
 1   title           6890 non-null   object
 2   price           6893 non-null   object
 3   price_per_area  6893 non-null   object
 4   area            6893 non-null   object
 5   type            6893 non-null   object
 6   bedrooms        6893 non-null   object
 7   bathrooms       6893 non-null   int64
 8   address         6893 non-null   object
 9   direction       6893 non-null   object
 10  law_doc         6893 non-null   object
 11  furniture       6893 non-null   object
 12  utilities       1792 non-null   object
 13  project         6893 non-null   object
 14  post_date       6893 non-null   object
 15  id              6893 non-null   object
dtypes: int64(1), object(15)
memory usage: 861.8+ KB

In [31]:
rows_with_nan_in_title = df[df['title'].isna()]

# In ra các hàng có giá trị NaN trong cột 'title'
print("Các hàng có giá trị NaN trong cột 'title':")
print(rows_with_nan_in_title)

df['title'] = df['title'].fillna('KXĐ')

Các hàng có giá trị NaN trong cột 'title':
                                                    url title    price  \
4519  https://rever.vn/mua/can-ho-picity-high-park-k...   NaN  2.96 tỷ
4542  https://rever.vn/mua/can-ho-picity-high-park-k...   NaN  3.52 tỷ
4568  https://rever.vn/mua/can-ho-picity-high-park-k...   NaN   2.5 tỷ

      price_per_area      area    type bedrooms  bathrooms  \
4519  43.53 triệu/m²  68.43 m²  Căn hộ        2          2
4542  54.22 triệu/m²  65.96 m²  Căn hộ        2          2
4568  43.86 triệu/m²  57.64 m²  Căn hộ        2          1

                                 address direction     law_doc  \
4519  Thạnh Xuân 13, Thạnh Xuân, Quận 12       KXĐ  HĐ mua bán
4542  Thạnh Xuân 13, Thạnh Xuân, Quận 12       KXĐ  HĐ mua bán
4568  Thạnh Xuân 13, Thạnh Xuân, Quận 12       KXĐ  HĐ mua bán

              furniture utilities           project   post_date         id
4519  Không có nội thất       NaN  Picity High Park  11/10/2022  A12117827
4542  Không có nội thất       NaN  Picity High Park  11/10/2022  A12117891
4568  Không có nội thất       NaN  Picity High Park  12/10/2022  A12118068

In [32]:
duplicate_rows = df[df.duplicated(subset=['title'], keep='first')]

print("\nCác hàng trùng lặp sau lần xuất hiện đầu tiên:")
print(duplicate_rows.index)

df = df.drop_duplicates(subset=['title'], keep='first')

Các hàng trùng lặp sau lần xuất hiện đầu tiên:
Index([  25,   83,   97,   99,  100,  101,  113,  130,  143,  155,
       ...
       6807, 6824, 6829, 6852, 6861, 6863, 6865, 6866, 6867, 6889],
      dtype='int64', length=574)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6319 entries, 0 to 6892
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   url             6319 non-null   object
 1   title           6319 non-null   object
 2   price           6319 non-null   object
 3   price_per_area  6319 non-null   object
 4   area            6319 non-null   object
 5   type            6319 non-null   object
 6   bedrooms        6319 non-null   object
 7   bathrooms       6319 non-null   int64
 8   address         6319 non-null   object
 9   direction       6319 non-null   object
 10  law_doc         6319 non-null   object
 11  furniture       6319 non-null   object
 12  utilities       1565 non-null   object
 13  project         6319 non-null   object
 14  post_date       6319 non-null   object
 15  id              6319 non-null   object
dtypes: int64(1), object(15)
memory usage: 839.2+ KB

In [34]:
df.head()

,url,title,price,price_per_area,area,type,bedrooms,bathrooms,address,direction,law_doc,furniture,utilities,project,post_date,id
0,https://rever.vn/mua/can-ho-conic-garden-khong...,Căn hộ Conic Garden không có nội thất diện tíc...,1.77 tỷ,32.73 triệu/m²,54.1 m²,Căn hộ,2,1,"Số 4, Phong Phú, Bình Chánh",KXĐ,Sổ hồng,Không có nội thất,Chỗ đậu xe hơi,KXĐ,11/09/2024,ABC118222
1,https://rever.vn/mua/can-ho-masteri-thao-dien-...,Căn hộ Masteri Thảo Điền đầy đủ nội thất diện ...,6.4 tỷ,100 triệu/m²,64.6 m²,Căn hộ,2,2,"Xa Lộ Hà Nội, Thảo Điền, Quận 2",KXĐ,Sổ hồng,Đầy đủ nội thất,NaN,Masteri Thảo Điền,11/09/2024,A02198783
2,https://rever.vn/mua/can-ho-eaton-park-2pn-goc...,"Căn hộ Eaton Park 2PN góc, hướng Tây Tứ Mệnh, ...",9.4 tỷ,125.33 triệu/m²,75.2 m²,Căn hộ,2,2,"Mai Chí Thọ, An Phú, Quận 2",Tây Nam,HĐ mua bán,Đầy đủ nội thất,"Ban công, Sân vườn, Phòng giải trí, Chỗ đậu xe...",Eaton Park,11/09/2024,A02198780
3,https://rever.vn/mua/can-ho-masteri-lumiere-ri...,Căn hộ Masteri Lumiere Riverside hướng Tây Bắc...,10.8 tỷ,112.5 triệu/m²,96.4 m²,Căn hộ,3,2,"Xa Lộ Hà Nội, An Phú, Quận 2",Đông Nam,HĐ mua bán,Nội thất cơ bản,NaN,Lumiere Riverside,09/10/2024,A02190943
4,https://rever.vn/mua/can-ho-lumiere-riverside-...,"Căn hộ Lumiere Riverside hướng Đông Nam, diện ...",8.17 tỷ,106.1 triệu/m²,77.1 m²,Căn hộ,2,2,"Xa Lộ Hà Nội, An Phú, Quận 2",Tây Bắc,HĐ mua bán,Đầy đủ nội thất,"Ban công, Phòng cho giúp việc, Sân vườn, Phòng...",Lumiere Riverside,11/10/2024,A02191406

In [35]:
df = df.drop(['title','url'],axis=1)

In [36]:
law_doc_values = df['law_doc'].unique()
furniture_values = df['furniture'].unique()
type_values = df['type'].unique()

In [37]:
law_doc_mapping = { 'Sổ hồng': 0, 'HĐ mua bán': 1, 'Sổ đỏ': 2, 'Giấy tay': 3, 'KXĐ': -1}
furniture_mapping = {'Không có nội thất': 0, 'Đầy đủ nội thất' : 1, 'Nội thất cơ bản': 2, 'KXĐ': -1}

df['law_doc'] = df['law_doc'].map(law_doc_mapping)
df['furniture'] = df['furniture'].map(furniture_mapping)


df.head()

,price,price_per_area,area,type,bedrooms,bathrooms,address,direction,law_doc,furniture,utilities,project,post_date,id
0,1.77 tỷ,32.73 triệu/m²,54.1 m²,Căn hộ,2,1,"Số 4, Phong Phú, Bình Chánh",KXĐ,0,0,Chỗ đậu xe hơi,KXĐ,11/09/2024,ABC118222
1,6.4 tỷ,100 triệu/m²,64.6 m²,Căn hộ,2,2,"Xa Lộ Hà Nội, Thảo Điền, Quận 2",KXĐ,0,1,NaN,Masteri Thảo Điền,11/09/2024,A02198783
2,9.4 tỷ,125.33 triệu/m²,75.2 m²,Căn hộ,2,2,"Mai Chí Thọ, An Phú, Quận 2",Tây Nam,1,1,"Ban công, Sân vườn, Phòng giải trí, Chỗ đậu xe...",Eaton Park,11/09/2024,A02198780
3,10.8 tỷ,112.5 triệu/m²,96.4 m²,Căn hộ,3,2,"Xa Lộ Hà Nội, An Phú, Quận 2",Đông Nam,1,2,NaN,Lumiere Riverside,09/10/2024,A02190943
4,8.17 tỷ,106.1 triệu/m²,77.1 m²,Căn hộ,2,2,"Xa Lộ Hà Nội, An Phú, Quận 2",Tây Bắc,1,1,"Ban công, Phòng cho giúp việc, Sân vườn, Phòng...",Lumiere Riverside,11/10/2024,A02191406

In [38]:
def convert_price(price):
    price = price.strip()  # Loại bỏ khoảng trắng dư thừa
    if 'tỷ' in price:
        return float(price.replace(' tỷ', ''))  # Chuyển đổi "tỷ" thành số và nhân với 1 tỷ
    elif 'triệu' in price:
        return float(price.replace(' triệu', '')) * 0.001  # Chuyển đổi "triệu" thành số và nhân với 1 triệu
    elif ' tr' in price:
        return float(price.replace(' tr', '')) * 0.001
    else:
        return None  # Trường hợp giá trị không hợp lệ
    
def convert_price_per_area(price):
    price = price.strip()  # Loại bỏ khoảng trắng dư thừa nếu có
    if 'triệu/m²' in price:
        return float(price.replace(' triệu/m²', ''))  # Xử lý trường hợp "triệu/m²"
    elif 'nghìn/m²' in price:
        return float(price.replace(' nghìn/m²', '')) * 0.001  # Xử lý trường hợp "nghìn/m²", chuyển sang "triệu/m²"
    else:
        return None  # Trường hợp không hợp lệ hoặc giá trị không chứa "triệu" hoặc "nghìn"

    
df['price'] = df['price'].apply(convert_price)

df['price_per_area'] = df['price_per_area'].apply(convert_price_per_area)

df['area'] = df['area'].str.replace(' m²', '', regex=False).astype(float)


df.head()

,price,price_per_area,area,type,bedrooms,bathrooms,address,direction,law_doc,furniture,utilities,project,post_date,id
0,1.77,32.73,54.1,Căn hộ,2,1,"Số 4, Phong Phú, Bình Chánh",KXĐ,0,0,Chỗ đậu xe hơi,KXĐ,11/09/2024,ABC118222
1,6.40,100.00,64.6,Căn hộ,2,2,"Xa Lộ Hà Nội, Thảo Điền, Quận 2",KXĐ,0,1,NaN,Masteri Thảo Điền,11/09/2024,A02198783
2,9.40,125.33,75.2,Căn hộ,2,2,"Mai Chí Thọ, An Phú, Quận 2",Tây Nam,1,1,"Ban công, Sân vườn, Phòng giải trí, Chỗ đậu xe...",Eaton Park,11/09/2024,A02198780
3,10.80,112.50,96.4,Căn hộ,3,2,"Xa Lộ Hà Nội, An Phú, Quận 2",Đông Nam,1,2,NaN,Lumiere Riverside,09/10/2024,A02190943
4,8.17,106.10,77.1,Căn hộ,2,2,"Xa Lộ Hà Nội, An Phú, Quận 2",Tây Bắc,1,1,"Ban công, Phòng cho giúp việc, Sân vườn, Phòng...",Lumiere Riverside,11/10/2024,A02191406

In [40]:
df['utilities_list'] = df['utilities'].fillna('').str.split(', ')

# Áp dụng hàm lambda để tạo dummy columns cho các tiện ích
utilities_dummies = df['utilities_list'].apply(lambda x: pd.Series(1, index=x)).fillna(0)

# Gộp các cột tiện ích vào DataFrame gốc
df = pd.concat([df, utilities_dummies], axis=1)

df.head()

,price,price_per_area,area,type,bedrooms,bathrooms,address,direction,law_doc,furniture,...,Phòng cho giúp việc,Quầy minibar,false,Khu vui chơi cho trẻ em,shop tiện lợi,cửa hàng thực phẩm,Coffee House,TP bank,cửa hàng quần áo,cửa hàng dụng cụ và quần áo cho trẻ em
0,1.77,32.73,54.1,Căn hộ,2,1,"Số 4, Phong Phú, Bình Chánh",KXĐ,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6.40,100.00,64.6,Căn hộ,2,2,"Xa Lộ Hà Nội, Thảo Điền, Quận 2",KXĐ,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9.40,125.33,75.2,Căn hộ,2,2,"Mai Chí Thọ, An Phú, Quận 2",Tây Nam,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10.80,112.50,96.4,Căn hộ,3,2,"Xa Lộ Hà Nội, An Phú, Quận 2",Đông Nam,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8.17,106.10,77.1,Căn hộ,2,2,"Xa Lộ Hà Nội, An Phú, Quận 2",Tây Bắc,1,1,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
df = df.drop(['utilities','utilities_list', 'false', ""], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6319 entries, 0 to 6892
Data columns (total 32 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   price                                   6319 non-null   float64
 1   price_per_area                          6319 non-null   float64
 2   area                                    6319 non-null   float64
 3   type                                    6319 non-null   object
 4   bedrooms                                6319 non-null   object
 5   bathrooms                               6319 non-null   int64
 6   address                                 6319 non-null   object
 7   direction                               6319 non-null   object
 8   law_doc                                 6319 non-null   int64
 9   furniture                               6319 non-null   int64
 10  project                                 6319 non-null   object
 11  post_date                               6319 non-null   object
 12  id                                      6319 non-null   object
 13  Chỗ đậu xe hơi                          6319 non-null   float64
 14  Ban công                                6319 non-null   float64
 15  Sân vườn                                6319 non-null   float64
 16  Phòng giải trí                          6319 non-null   float64
 17  Hồ bơi riêng                            6319 non-null   float64
 18  Tầng hầm                                6319 non-null   float64
 19  Góc làm việc                            6319 non-null   float64
 20  Nhà kho                                 6319 non-null   float64
 21  Nuôi thú cưng                           6319 non-null   float64
 22  Gym                                     6319 non-null   float64
 23  Phòng cho giúp việc                     6319 non-null   float64
 24  Quầy minibar                            6319 non-null   float64
 25  Khu vui chơi cho trẻ em                 6319 non-null   float64
 26  shop tiện lợi                           6319 non-null   float64
 27  cửa hàng thực phẩm                      6319 non-null   float64
 28  Coffee House                            6319 non-null   float64
 29  TP bank                                 6319 non-null   float64
 30  cửa hàng quần áo                        6319 non-null   float64
 31  cửa hàng dụng cụ và quần áo cho trẻ em  6319 non-null   float64
dtypes: float64(22), int64(3), object(7)
memory usage: 1.6+ MB

In [45]:
df['post_date'] = pd.to_datetime(df['post_date'], format='%d/%m/%Y')
df['post_date'] = df['post_date'].astype(str)

In [46]:
df.to_csv("process_test.csv")

In [47]:
df.to_json("process_test.json", orient='records', lines=True, force_ascii=False)